body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eaeaea url('bg.png');
  color: #4d4d4d;
  width: 550px;
  margin: 0 auto;
}
#todoapp h1 {
  display: block;
  position: relative;
  top: 10px;
  width: 100%;
  text-align: center;
  font-size: 400%;
}
#todoapp input::-webkit-input-placeholder {
  font-style: italic;
  color: aliceblue;
}
#todoapp input::-moz-placeholder {
  font-style: italic;
  font-weight: 100;
  color: rgb(117, 91, 57);
}
#new-todo {
  display: block;
  font-style: inherit;
  width: 90%;
  margin: 0 auto;
  font-weight: bolder;
  text-align: center;
  font-size: 200%;
  line-height: 1.4em;
  outline: 0;
  padding: 6px;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

#todoapp span.date {
  display: block;
  background-color: rgba(247, 232, 215, 0.692);
  font-size: 16px;
  right: 0;
  bottom: 0;
  position: absolute;
  padding: 0;
}
#todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#todo-list li {
  margin: 20px;
  background-color: rgba(245, 245, 220, 0.548);
  position: relative;
  width: 100%;
  height: 60px;
  font-size: 120%;
  border-bottom: 1px dotted #cccccc;
}
#todo-list li:last-child {
  border-bottom: none;
}
#todo-list li .toggle {
  text-align: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  border: none;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  color: inherit;
  -webkit-appearance: none;
  /*-moz-appearance: none;*/
  -ms-appearance: none;
  -o-appearance: none;
}
#todo-list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  width: 40px;
  height: 30px;
  right: 10px;
  bottom: 0;
  margin: auto;
  color: #a88a8a;
}
#todo-list li .destroy:hover {
  text-shadow: 0 0 1px #ccc, 0 0 10px rgba(199, 107, 107, 0.8);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

#todo-list li .destroy:after {
  content: '✖';
}
#todo-list li:hover .destroy {
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#todo-list li label {
  margin-left: 45px;
  display: block;
  text-align: left;
  line-height: 60px;
  font-size: 15px;
  width: 330px;
  height: 60px;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
  overflow: hidden;
  text-overflow: ellipsis;
}
#todo-list li.completed label {
  color: #a9a9a9;
  text-decoration: line-through;
}
#todo-count {
  float: right;
  text-align: left;
}
#sync-error, #sync-success {
  display: none;
}

[data-sync-state=syncing] #sync-success {
  display: block;
}

[data-sync-state=error] #sync-error {
  display: block;
}


